/*for header part*/
.nav-item-additional{
    font-size: 1em;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.nav{
    width: 100%;
}
.nav-item-additional:hover{
    transition-duration: 200ms;
    transform-origin: 0em;
    color: white;
    border-bottom: 2px solid red;
    background-color: rgb(53, 53, 53);
    height: 4em;
}
.center{
    margin:auto;
    width: 60%;
    margin-left: 10%;
}
   
.nav-item{
    display: inline;
    align-items: center;
    margin: 1%;
}
.header{
    height: 23em;
    width: 100%;
}
.header-nav{
    background-color: rgb(0, 0, 0);
    position:fixed;
    height: 4em;
    width: 100%;
}
.header-nav-img img{
    height: 4em;
    background-color: white;
    
}
.nav-elements{
    margin-left: auto;
    margin-right: auto;
}
/*for header part*/
/*for home page body*/
.child{
    color: white;
    margin: 4em;
    border-radius: 6px;
}
.child img{
    border-radius: 6px;
}
.welcome{
    color: white;
    padding: 5em;
}
.welcome-header{
    color: red;
    text-align: center;
    font-weight: bold;
}
.welcome-message{
    font-size: 1em;
    color: black;
}
.welcome-image img{
    height: 50%;
    padding: 2em;
}
.home-body-elements{
    padding-right: 5em;
}
/*for home page body*/
/*for about page body*/
.about{
    font-size: 1.5em;
    text-align: center;
}
.about h1{
    color: red;
}
#sub{
    display:grid ;
    grid-template-columns: 20% 80%;
    height: 80%;
    border-radius: 50px;
}
.b1{
    background-image: url(../images/logo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.b2{
    display: grid;
    grid-template-rows: 30% 30% 30%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 50px 15px 2px 15px;
    align-items: center;
    text-align: center;

}
/*for about page body*/
/*for footer*/
#hd{
    background-image: url(../images/wow3.jpg);
    padding: 70px;
    height: 20em;
    background-size: 100% 100%;
    color: #fff;
    text-align: left;
}
.footer-link{
    color: white;
}
/*for footer*/
/*for profile page body*/
.profile-body-element{
    padding-right: 5em;
}
/*for profile page body*/
/*for newentry body*/
.first-col{
    background-color: white;
    margin: 2em;
    padding: 3em;
}
.second-col{
    background-color: white;
    margin: 2em;
    height: fit-content;
    padding: 3em;
}
/*for newentry body*/
/*for suggestion*/
.main-container{
    background-color: white;
    width: 60%;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 5em;
    padding-top: 3em;
}
/*for suggestion*/
/*for donate*/
.donate-header{
    text-align: center;
    color: red;
}
.donate-info{
    text-align: center;
}
.bank-info{
    text-align: center;
}
.thank{
    color: red;
}
.telebirr img{
    width: 30%;
}
/*for donate*/
/*for registration*/
.registration-container{
    background-color: white;
}
/*for registration*/
/*for login*/
.login-container{
    background-color: white;
}
/*for login*/