/*for the whole body*/
body{
    background-color: rgb(1, 1, 75);
}
/*for the whole body*/
/*for header part*/
.nav-item-additional:hover{
    background-color: rgb(255, 254, 254);
    opacity: 80%;

}
.header{
    height: 23em;
    width: 100%;
}
.header-nav{
    background-color: aliceblue;
    opacity: 70%;
    position:fixed;
    width: 100%;
}
.header-nav-img img{
    width: 5em;
    height: 5em;
    
}
.nav-elements{
    margin-left: auto;
    margin-right: auto;
}
/*for header part*/
/*for home page body*/
.child{
    color: white;
    margin: 4em;
    border-radius: 6px;
}
.child img{
    border-radius: 6px;
}
.welcome{
    color: white;
    padding: 5em;
}
.welcome-header{
    color: red;
    text-align: center;
    font-weight: bold;
}
.welcome-message{
    font-size: 1.5em;
}
.welcome-image img{
    height: 60%;
    padding: 2em;
}
.home-body-elements{
    margin-top: -23em;
    padding-right: 5em;
}
/*for home page body*/
/*for about page body*/
.about{
    color: white;
    font-size: 1.5em;
    text-align: center;
}
.about h1{
    color: red;
}
#hd{
    background-image: url(../images/wow3.jpg);
    padding: 70px;
    height: 20em;
    background-size: 100% 100%;
    color: #fff;
    text-align: left;
}
#sub{
    display:grid ;
    grid-template-columns: 30% 70%;
    height: 140%;
    border-radius: 50px;
}
.b1{
    background-image: url(../images/baby3.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.b2{
    display: grid;
    grid-template-rows: 30% 30% 30%;
    background-image: url(../images/wow6.jpg);
    color: #fff;
    padding: 15px;
    align-items: center;
    text-align: center;

}
/*for about page body*/
/*for profile page body*/
.profile-body-element{
    padding-right: 5em;
}
/*for profile page body*/
/*for newentry body*/
.first-col{
    background-color: white;
    margin: 2em;
    padding: 3em;
}
.second-col{
    background-color: white;
    margin: 2em;
    height: fit-content;
    padding: 3em;
}
/*for newentry body*/
/*for suggestion*/
.main-container{
    background-color: white;
    width: 60%;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 5em;
    padding-top: 3em;
}
/*for suggestion*/