<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>About page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
  </head>
  <body>
    <header>
      <ul class="nav justify-content-center">
        <li class="nav-item"><a class="navbar-brand" href="#"><h1 style="margin-right: 1em;">Donate</h1></a></li>
        <li class="nav-item"><a class="navbar-brand" th:href="@{/about}"><h1 style="margin-right: 1em;">About</h1></a></li>
        <li class="nav-item"><a class="navbar-brand" th:href="@{/}"><h1 style="margin-right: 1em;">Home</h1></a></li>
        <li class="nav-item"><a class="navbar-brand" href="#"><h1 style="margin-right: 1em;">Profile</h1></a></li>
        <li class="nav-item"><a class="navbar-brand" th:href="@{/newentry}"><h1 style="margin-right: 1em;">New Entry</h1></a></li>
      </ul>
    </header>

    <h1>ABOUT OUR TEAM</h1>

  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  <footer>
    <ul class="nav justify-content-center">
    <li class="nav-item"><a class="navbar-brand" th:href="@{/suggestion}"><h1 style="margin-right: 1em;">Suggestion</h1></a></li>
    <li class="nav-item"><a class="navbar-brand" th:href="@{/admin}"><h1 style="margin-right: 1em;">Admin</h1></a></li>
    </ul>
  </footer>
</body>
</html>