<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>About page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
  </head>
  <body>
    <header class="header">
      <nav class="header-nav">
        <ul class="nav">
          <li class="header-nav-img"><a th:href="@{/}"><img th:src="@{/images/logo4.jpg}" alt="hand heart"></a></li>
          
          <div class="center">
          <li class="nav-item" ><a class="navbar-brand nav-item-additional" th:href="@{/}">Home</a></li>
          <li class="nav-item" ><a class="navbar-brand nav-item-additional" th:href="@{/donate}">Donate</a></li>
          <li class="nav-item" ><a class="navbar-brand nav-item-additional active" th:href="@{/about}">About</a></li>
          <li class="nav-item" ><a class="navbar-brand nav-item-additional" th:href="@{/profile}">Children list</a></li>
          <li class="nav-item" ><a class="navbar-brand nav-item-additional" th:href="@{/suggestion}">Suggest</a></li>
        
      </div>
      
        </ul>
      </nav>
      <div class="b2">
        <div><big><p><b> Let's all stand together and
            lift our children from where they fell. <br>
            Let us give them hope because they are our future tomorrow. <br>
            let us give them strength because they will be our 
            strength when we are tired <br>
            let us give them love because they are our children!</big></div>
    </p></b>
</div>
    </header>

    <div class="container about">
    <h1>About our Team</h1>
      <p>                                 About Our Team

        We are a non-governmental, non-profit organization founded on the 
        ideals of humanism, freedom, equality and solidarity. We consider 
        human dignity and freedom to be fundamental values. We  believe  
        that people anywhere in the world should have the right to make  
        decisions  about  their  lives  and to  share  the rights expressed in 
        the Universal Declaration of Human Rights.</p>
        <p>
        We strive for a society that is open, informed, engaged and responsible 
        with respect to problems at home and around the world.  We  want to 
        actively  participate in  shaping a  society where cultural, ethnic, racial 
        and other differences are a source of enrichment rather than conflict.
        </p>
        <p>
        We are an intrinsic part of civil society. Our work is based on the personal
        initiative and activity of our team and volunteers, both in Addis Ababa and 
        in the dozens of other cities where we operate, as well as the trust and 
        support we are endowed with by individuals, businesses, governments and 
        international institutions.
        </p>
        <p>
        We  determine the  specific  areas and priorities of our activities with respect 
        to the level of urgency and our actual capacity to change the situation. We 
        cannot be everywhere, but it is essential that our work makes a real difference.</p>
    </div>
  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  <footer>
    <div id="hd"><h1>Erdata</h1>
      <ul class="nav justify-content-center">
        <li class="nav-item"><a class="navbar-brand" th:href="@{/newentry}"><h1 style="margin-right: 1em;">New Entry</h1></a></li>
        <li class="nav-item"><a class="navbar-brand" th:href="@{/admin}"><h1 class="footer-link" style="margin-right: 1em;">Admin</h1></a></li>
        </ul>
    </div>
  </footer>
</body>
</html>