<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Child Entry page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
  </head>
  <body>
    <header class="header">
      <nav class="header-nav">
        <ul class="nav">
          <li class="header-nav-img"><a th:href="@{/}"><img th:src="@{/images/logo4.jpg}" alt="hand heart"></a></li>
          
          <div class="center">
          <li class="nav-item" ><a class="navbar-brand nav-item-additional" th:href="@{/}">Home</a></li>
          <li class="nav-item" ><a class="navbar-brand nav-item-additional" th:href="@{/donate}">Donate</a></li>
          <li class="nav-item" ><a class="navbar-brand nav-item-additional active" th:href="@{/about}">About</a></li>
          <li class="nav-item" ><a class="navbar-brand nav-item-additional" th:href="@{/profile}">Children list</a></li>
          <li class="nav-item" ><a class="navbar-brand nav-item-additional" th:href="@{/suggestion}">Suggest</a></li>
        
      </div>
      
        </ul>
      </nav>
     
    </header>
    <div class="bank-info" th:each="entry : ${listentry}">
        <h1 class="donate-header">Thank you for your kindness</h1>
        <h2 class="donate-info">You can use one of the following ways to help <span th:text="${entry.firstname}"> </span> <span  th:text="${entry.middlename}"></span> </h2>
    <div class="cbe">
        <h1>Commercial bank of Ethiopia</h1>
        <h2 th:text="${entry.bankaccount}">1000453672284645</h2>
    </div>
    <div class="oib">
        <h1>Oromia International bank</h1>
        <h2>1000453672284645</h2>
    </div>
    <div class="bib">
        <h1>Buna International bank</h1>
        <h2>1000453672284645</h2>
    </div>
    <div class="telebirr">
        <h1>Use The following qrcode for Telebirr</h1>
        <img th:src="@{/images/qrcode.png}" alt="Telebirr qrcode">
    </div>
    <h1 class="thank">Thank you!</h1>
</div>

    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <footer>
      <div id="hd"><h1>Erdata</h1>
        <ul class="nav justify-content-center">
            <li class="nav-item"><a class="navbar-brand" th:href="@{/newentry}"><h1 style="margin-right: 1em;">New Entry</h1></a></li>
            <li class="nav-item"><a class="navbar-brand" th:href="@{/admin}"><h1 style="margin-right: 1em;">Admin</h1></a></li>
          </ul>
      </div>
    </footer>
</body>
</html>