<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Login to Erdata</title>
  <!-- Bootstrap core CSS -->
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
  <header class="header">
    <nav class="header-nav">
      <ul class="nav">
        <li class="header-nav-img"><a th:href="@{/}"><img th:src="@{/images/logo4.jpg}" alt="hand heart"></a></li>
        
        <div class="center">
        <li class="nav-item" ><a class="navbar-brand nav-item-additional" th:href="@{/}">Home</a></li>
        <li class="nav-item" ><a class="navbar-brand nav-item-additional" th:href="@{/donate}">Donate</a></li>
        <li class="nav-item" ><a class="navbar-brand nav-item-additional active" th:href="@{/about}">About</a></li>
        <li class="nav-item" ><a class="navbar-brand nav-item-additional" th:href="@{/profile}">Children list</a></li>
        <li class="nav-item" ><a class="navbar-brand nav-item-additional" th:href="@{/suggestion}">Suggest</a></li>
      
    </div>
    
      </ul>
    </nav>
   
  </header>
<main class="form-signin mx-auto w-50 login-container">
  <h1>Login</h1>

  <h5 class="text-danger" th:if="${errorMessage}" th:text="${errorMessage}">errorMessage</h5>

  <p>New here? Click <a th:href="@{/register}">here</a> to register.</p>
  <form method="POST" th:action="@{/login}">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <label class="form-label" for="username">Username</label>
    <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            placeholder="Username"
    />
    <label class="form-label" for="password">Password</label>
    <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Password"
    />
    <button class="w-100 btn btn-lg btn-primary my-2" type="submit">
      Sign in
    </button>
  </form>
</main>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<footer>
  <div id="hd"><h1>Erdata</h1>
    <ul class="nav justify-content-center">
      <li class="nav-item"><a class="navbar-brand" th:href="@{/newentry}"><h1 style="margin-right: 1em;">New Entry</h1></a></li>
      <li class="nav-item"><a class="navbar-brand" th:href="@{/admin}"><h1 style="margin-right: 1em;">Admin</h1></a></li>
      </ul>
  </div>
</footer>
</body>
</html>